# Data Analysis with Pandas (Intro)

In [68]:
import numpy as np 
import pandas as pd

In [69]:
df = pd.read_csv('vgsales.csv')

In [70]:
filtered_df = df[df['Global_Sales'] > 0.01]
filtered_df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
15975,15978,You Don't Know Jack,PC,1995.0,Misc,Vivendi Games,0.01,0.00,0.00,0.00,0.02
15976,15979,Ouran Koukou Host Bu,PS2,2007.0,Adventure,Idea Factory,0.00,0.00,0.02,0.00,0.02
15977,15980,Lotus Challenge,GC,2004.0,Racing,Ignition Entertainment,0.01,0.00,0.00,0.00,0.02
15978,15981,Meiji Toukyou Renka: Twilight Kiss,PSP,2015.0,Action,Broccoli,0.00,0.00,0.02,0.00,0.02
15979,15982,Xblaze: Lost Memories,PS3,2015.0,Adventure,Arc System Works,0.01,0.00,0.00,0.00,0.02

In [71]:
most_common_publisher = filtered_df.Publisher.mode()[0]

In [72]:
most_common_platform = filtered_df.Platform.mode()[0]
# most_common_publisher

In [73]:
most_common_genre = filtered_df.Genre.mode()[0]

In [74]:
top_twenty_highest_grossing_games = filtered_df[['Name', 'Global_Sales']].sort_values('Global_Sales', ascending=False)

In [75]:
na_median_sales = filtered_df.NA_Sales.median()

In [146]:

median = filtered_df[['NA_Sales']].median()[0]
df_filtered_by_median = filtered_df[filtered_df['NA_Sales'] == median].sort_values('Name').head(10)

ten_median_na_seller_names = [name for name in df_filtered_by_median['Name']]

In [167]:
std_NA = filtered_df[['NA_Sales']].std()[0]
mean_NA = filtered_df[['NA_Sales']].mean()[0]
top = filtered_df['Global_Sales'].max()
top_selling_game = filtered_df[df['Global_Sales'] == top]
top_game_std = std_NA/mean_NA

<ipython-input-167-5879fbf0499d>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  top_selling_game = filtered_df[df['Global_Sales'] == top]

In [174]:
sales = df.groupby('Platform')['Global_Sales'].mean()
sales

Platform
2600    0.729925
3DO     0.033333
3DS     0.486169
DC      0.307115
DS      0.380254
GB      2.606633
GBA     0.387470
GC      0.358561
GEN     1.050370
GG      0.040000
N64     0.686144
NES     2.561939
NG      0.120000
PC      0.269604
PCFX    0.030000
PS      0.610920
PS2     0.581046
PS3     0.720722
PS4     0.827679
PSP     0.244254
PSV     0.149952
SAT     0.194162
SCD     0.311667
SNES    0.837029
TG16    0.080000
WS      0.236667
Wii     0.699404
WiiU    0.572448
X360    0.774672
XB      0.313422
XOne    0.662254
Name: Global_Sales, dtype: float64

In [168]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'PS2')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(na_median_sales, 0.08)
    assert_equal(ten_median_na_seller_names, ['1 vs. 100', '101-in-1 Sports Megamix', '18 Wheels of Steel: Extreme Trucker 2', '50 Cent: Bulletproof', 'A Witch\'s Tale', 'AC/DC LIVE: Rock Band Track Pack', 'Agatha Christie: The ABC Murders', 'Agile Warrior F-111X', 'Aidyn Chronicles: The First Mage', 'Akiba\'s Trip: Undead & Undressed'])
    assert_equal(top_game_std, 3.0227112739649478)

    print("Success!!!")

test()

Success!!!